{% extends "pizzas/base.html" %}
{% load static %}

{% block content %}

<center><h2 style="font-size:160%;border:2px solid black;"> Pizza : {{ pizza }} </h2></center>

<b><p style="font-size: 120%;">Toppings:</p></b> 
<ul> 
     
     {% for t in toppings %} 

     <li style="font-size:110%;font-style:Copperplate;"> {{ t.topping_name }}</li>     

     {% empty %}
     <li> No toppings for this pizza have been added yet.</li>
     {% endfor %}
     
</ul>

{%if pizza.id == 1%}
<center><img src="{% static "pizzas/hawaiian.jpg" %}" width="700" height="700"" /></center>
{% elif pizza.id == 2%}
<center><img src="{% static "pizzas/meatlovers.jpg" %}" width="700" height="700"" /></center>
{% elif pizza.id == 3%}
<center><img src="{% static "pizzas/pepperoni.jpeg" %}" width="700" height="700"" /></center>
{% elif pizza.id == 4%}
<center><img src="{% static "pizzas/cheese.jpg" %}" width="700" height="700"" /></center>
{% elif pizza.id == 5%}
<center><img src="{% static "pizzas/supreme.jpg" %}" width="700" height="700"" /></center>
{% endif %}

<br><center><b><p style="color:orange;font-size: 120%;border:2px solid black">Comments:</p></b></center>
<a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a>

<ul>
     {% for c in comments %}

     <li style="font-size:110%;font-style:Copperplate;"> {{ c.comment }}</li>     

     {% empty %}
     <li style="font-size:110%;font-style:Copperplate;"> No comments for this pizza have been added yet.</li>
     {% endfor %}

</ul>


{% endblock content %}



